<!DOCTYPE html>
<html>

<head>
    <title>Room</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder lead">Room :</h1>
                <p class="lead fw-normal text-white-50 mb-0" id="rdv">Rendez-vous à :</p>
            </div>
        </div>
    </header>

    <section class="m-0 w-100" style="height: 70vh">
        <div class="row col-12 pt-5 h-100">
            <div class="col col-2">
                <p>Restaurants :</p>
                <ul id="restaurants" class="list-unstyled mx-3"></ul>
            </div>
            <div class="col col-6">
                <div id="map" style="width: 100%; height: 100%; cursor: pointer;"></div>
            </div>
            <div class="col col-4">
                <p>Users :</p>
                <ul id="users" class="list-unstyled mx-3"></ul>
                <div class="card border border-dark">
                    <ul id="messages" class="overflow-auto list-unstyled mx-3 mt-2" style="height: 300px"></ul>
                    <form id="form" action="">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" id="message" autocomplete="off" />
                            <button class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    let socket = io();

    // get parameter id from url
    const urlParams = new URLSearchParams(window.location.search);
    const currentRoomId = urlParams.get('id');

    if (!currentRoomId) {
        window.location.href = '/';
    }

    let userList = [];

    // ask username on load and store in const
    let name = prompt('What is your username?');

    while (!name.match(/^[a-zA-Z]+$/)) {
        if (!name) {
            name = 'guest';
        } else {
            name = prompt('Please enter a valid username (only letters)');
        }
    }

    const username = `${name}_${uuidv4().substring(0, 4)}`;

    // generate random color hex code that cannot be white or black
    const color = '#' + Math.floor(Math.random() * 16777215).toString(16);

    const restaurants = [
        {
            name: 'Okiko',
            location: {
                lat: 48.9008,
                lng: 2.2116
            }
        },
        {
            name: 'Le Bistrot de la Gare',
            location: {
                lat: 48.9044,
                lng: 2.2425
            }
        },
        {
            name: 'Aubrac',
            location: {
                lat: 48.9064,
                lng: 2.2525
            }
        },
        {
            name: 'McDonalds',
            location: {
                lat: 48.9144,
                lng: 2.2488
            }
        }

    ]

    for (let i = 0; i < restaurants.length; i++) {
        // add restaurant to ul with id restaurants
        const restaurant = restaurants[i];
        const li = document.createElement('li');
        li.classList.add('list-group-item');
        li.classList.add('d-flex');
        li.classList.add('justify-content-between');
        li.innerHTML = `${restaurant.name} <button class="btn btn-primary" onclick="selectRestaurant(${i})"> Go </button>`;
        document.getElementById('restaurants').appendChild(li);
    }

    function selectRestaurant(restaurantIndex) {
        let restaurant = restaurants[restaurantIndex];
        socket.emit('selectRestaurant', currentRoomId, username, restaurant);
    }

    let currentLocation = {
        lat: 0,
        lng: 0
    };

    navigator.geolocation.getCurrentPosition(function (position) {
        currentLocation.lat = position.coords.latitude;
        currentLocation.lng = position.coords.longitude;
    });

    socket.emit('joinRoom', currentRoomId, username, color, currentLocation);

    function uuidv4() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    let form = document.getElementById('form');
    let input = document.getElementById('message');

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value) {
            socket.emit('sendMessage', currentRoomId, username, input.value, color);
            input.value = '';
        }
    });

    function addMessage(message, color) {
        if (color === undefined) {
            color = '#000';
        }
        let li = document.createElement('li');
        li.innerHTML = `<span style="color: ${color}">${message}</span>`;
        document.getElementById('messages').appendChild(li);
    }

    socket.on('dispatchMessage', function (roomId, username, msg, color) {
        if (roomId === currentRoomId) {
            addMessage(`<strong>${username}</strong>: ${msg}`, color);
        }
    });

    function setHeader(roomInfo) {
        document.querySelector('h1').innerHTML = `Room : ${roomInfo.name}`;
        document.querySelector('#rdv').innerHTML = `Rendez-vous à : ${roomInfo.arrTime}`;
    }

    let isCorrectRoom = false;

    const userListElement = document.getElementById('users');

    const now = new Date();
    function setUsers(users, arrTime) {

        let arrHour = arrTime.substring(0, 2);
        let arrMinutes = arrTime.substring(3, 5);

        userListElement.innerHTML = '';
        userList = users;
        users.forEach(user => {
            let li = document.createElement('li');
            let udist = user.distance ? user.distance : 'X.XX';
            let urest = user.restaurant ? user.restaurant.name : 'XXX';
            let utime = user.time ? user.time : 'X.XX';

            if (user.time) {
                let userHour = user.time.substring(0, 2);
                let userMinutes = user.time.substring(3, 5);

                let hours = arrHour - userHour;
                let minutes = arrMinutes - userMinutes;

                if (minutes < 0) {
                    minutes += 60;
                    hours -= 1;
                }

                if (hours < 0) {
                    hours += 24;
                }

                let leaveTime = `${hours}h${minutes}`;

                li.innerHTML = `<span style="color: ${user.color}">${user.username}</span> - 🏪 ${urest} - 🗺️ ${udist}km (🚶 ${utime}) - 🕒 ${leaveTime}`;
            } else {
                li.innerHTML = `<span style="color: ${user.color}">${user.username}</span> - 🏪 ${urest} - 🗺️ ${udist}km`;
            }
            userListElement.appendChild(li);
        });
    }
    socket.on('dispatchJoinRoom', function (roomId, username, color, roomIds, roomInfo, users) {
        if (roomInfo !== null && users !== null) {
            setHeader(roomInfo);

            if (roomId === currentRoomId) {
                setUsers(users, roomInfo.arrTime);

                addMessage(`<strong>${username}</strong> joined the room.`, color);
            }

            for (let i = 0; i < roomIds.length; i++) {
                if (roomIds[i] === currentRoomId) {
                    isCorrectRoom = true;
                }
            }

            if (roomInfo.destination.lat !== null && roomInfo.destination.lng !== null) {
                dest.setLatLng(roomInfo.destination);
                dest.setOpacity(1)
                destPlaced = true;
            }
        }
        if (!isCorrectRoom) {
            window.location.href = '/';
        }
    });

    socket.on('updateUsers', function (roomId, users, roomInfo) {
        if (roomId === currentRoomId) {
            clearMap();
            setUsers(users, roomInfo.arrTime);
            drawUsers();
        }
    });

    function ping() {
        navigator.geolocation.getCurrentPosition(function (position) {
            currentLocation.lat = position.coords.latitude;
            currentLocation.lng = position.coords.longitude;
        });

        clearMap();
        drawUsers();

        socket.emit('ping', currentRoomId, username, currentLocation);
    }
    setInterval(ping, 5000);

    let userMarkers = [];
    let restoMarkers = [];
    let lines = [];

    function drawUsers() {
        let usersTimeDistance = [];
        userList.forEach(user => {
            let hex = user.color.substring(1);
            let initial = user.username.substring(0, 1).toLowerCase();
            let userLocation = user.location;
            let userIcon = new Icon({ iconUrl: `https://img.icons8.com/material/24/${hex}/circled-${initial}.png` });
            let totalDistance = 0;
            let totalTime = 0;

            // User marker
            userMarkers.push(L.marker(userLocation, { icon: userIcon }))
            userMarkers[userMarkers.length - 1].addTo(map);

            if (dest.getLatLng().lng !== 0) {
                if (user.restaurant) {
                    let userRestoLoc = user.restaurant.location;

                    // Resto marker
                    restoMarkers.push(L.marker(userRestoLoc, { icon: restoIcon }))
                    restoMarkers[restoMarkers.length - 1].addTo(map);

                    // Line between user and resto
                    drawALine(userLocation, userRestoLoc, user.color);
                    let userToResto = timeBetweenTwoPos(userLocation, userRestoLoc)
                    totalDistance += userToResto.distance;
                    totalTime += userToResto.time;

                    // Line between resto and destination
                    drawALine(userRestoLoc, dest.getLatLng(), user.color)
                    let restoToDest = timeBetweenTwoPos(userRestoLoc, dest.getLatLng())
                    totalDistance += restoToDest.distance;
                    totalTime += restoToDest.time;
                }
                else {
                    // Line between user and destination
                    drawALine(userLocation, dest.getLatLng(), user.color)
                    let userToDest = timeBetweenTwoPos(userLocation, dest.getLatLng())
                    totalDistance += userToDest.distance;
                    totalTime += userToDest.time;
                }
            }

            // Distance in km
            totalDistance = totalDistance.toFixed(2);

            totalTime = totalTime.toFixed(2);
            let rhours = Math.floor(totalTime);
            // add leading zero if hours is less than 10
            if (rhours < 10) {
                rhours = '0' + rhours;
            }
            let minutes = (totalTime - rhours) * 60;
            let rminutes = Math.round(minutes);
            // add leading zero if minutes is less than 10
            if (rminutes < 10) {
                rminutes = '0' + rminutes;
            }

            // Time in hours and minutes
            let time = `${rhours}h${rminutes}`;

            usersTimeDistance.push({ username: user.username, time: time, distance: totalDistance });
        });
        socket.emit('updateUsersTimeDistance', currentRoomId, usersTimeDistance);
    }

    function clearMap() {
        userMarkers.forEach(marker => {
            map.removeLayer(marker);
        });
        restoMarkers.forEach(marker => {
            map.removeLayer(marker);
        });
        lines.forEach(line => {
            map.removeLayer(line);
        });

        userMarkers = [];
        restoMarkers = [];
        lines = [];
    }

    // OSM MAP

    let map = L.map('map').setView([48.89, 2.22], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Set icon size
    let Icon = L.Icon.extend({
        options: {
            iconSize: [40, 40],
            iconAnchor: [20, 29]
        }
    });

    // Set Resto icon
    let restoIcon = new Icon({
        iconUrl: 'https://img.icons8.com/fluency/48/null/restaurant-.png'
    })
    // Set Destination icon
    let destIcon = new Icon({
        iconUrl: 'https://img.icons8.com/ios-glyphs/30/FF0000/place-marker.png'
    })

    // DESTINATION POINT

    // Destination marker
    let dest = L.marker([0, 0], { opacity: 0, icon: destIcon, draggable: 'true' }).addTo(map);
    let destPlaced = false;

    // When click to set destination
    map.on('click', onMapClick);
    // When destination is moved
    dest.on('dragend', onDestMove);

    function onMapClick(e) {
        if (destPlaced === false) {
            let destPosition = e.latlng;
            dest.setLatLng(destPosition);
            dest.setOpacity(1)
            destPlaced = true;

            socket.emit('setDestination', currentRoomId, destPosition);

            // Recalculate distance
        }
        else {
            alert('Pour changer le point de RDV, veuillez glisser le point actuel.');
        }
    }

    function onDestMove(e) {
        let destPosition = e.target.getLatLng();
        dest.setLatLng(destPosition);

        socket.emit('setDestination', currentRoomId, destPosition);

        // Recalculate distance
    }

    // END DESTINATION POINT

    function drawALine(pos1, pos2, color) {
        if (pos1.lat && pos2.lat) {
            lines.push(L.polyline([pos1, pos2], { color: color }));
            lines[lines.length - 1].addTo(map);
        }
    }

    socket.on('updateDestination', function (roomId, destPosition) {
        if (roomId === currentRoomId) {
            dest.setLatLng(destPosition);
            clearMap();
            drawUsers();
        }
    });

    function timeBetweenTwoPos(pos1, pos2) {
        if (pos1.lat !== 0 && pos2.lat !== 0) {
            // Radius of the earth in km
            let R = 6371;
            let dLat = deg2rad(pos2.lat - pos1.lat);
            let dLon = deg2rad(pos2.lng - pos1.lng);
            let a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(deg2rad(pos1.lat)) * Math.cos(deg2rad(pos2.lat)) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            // Distance in km
            let d = R * c;

            // Time for 5mk/h
            let t = d / 5;

            return {
                distance: d,
                time: t
            };
        }

        return {
            distance: 0,
            time: 0
        };
    }

    function deg2rad(deg) {
        return deg * (Math.PI / 180)
    }

</script>

</html>
