<!DOCTYPE html>
<html>

<head>
    <title>Room</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder lead">Room :</h1>
            <p class="lead fw-normal text-white-50 mb-0" id="rdv">Rendez-vous à :</p>
        </div>
    </div>
</header>

<p>Users :</p>
<ul id="users"></ul>

<p>Messages :</p>
<ul id="messages"></ul>

<form id="form" action="">
    <input id="message" type="text" autocomplete="off"/><button>Envoyer</button>
</form>

    <div id="map" style="width: 425px; height: 350px; cursor: pointer;"></div>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    let socket = io();

    // get parameter id from url
    const urlParams = new URLSearchParams(window.location.search);
    const currentRoomId = urlParams.get('id');

    // ask username on load and store in const
    let name = prompt('What is your username?');
    if (!name) {
        name = 'guest';
    }

    const username = `${name}_${uuidv4().substring(0, 4)}`;

    // generate random color hex code that cannot be white or black
    const color = '#' + Math.floor(Math.random() * 16777215).toString(16);

    console.log(color)
    // emit event to let users know when someone joins
    socket.emit('joinRoom', currentRoomId, username, color);

    if (!currentRoomId) {
        window.location.href = '/';
    }

    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    let form = document.getElementById('form');
    let input = document.getElementById('message');

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value) {
            socket.emit('sendMessage', currentRoomId, username, input.value, color);
            input.value = '';
        }
    });

    function addMessage(message, color) {
        if (color === undefined) {
            color = '#000';
        }
        let li = document.createElement('li');
        li.innerHTML = `<span style="color: ${color}">${message}</span>`;
        document.getElementById('messages').appendChild(li);
    }

    socket.on('dispatchMessage', function(roomId, username, msg, color) {
        if (roomId === currentRoomId) {
            addMessage(`<strong>${username}</strong>: ${msg}`, color);
        }
    });

    function setHeader(roomInfo) {
        document.querySelector('h1').innerHTML = `Room : ${roomInfo.name}`;
        document.querySelector('#rdv').innerHTML = `Rendez-vous à : ${roomInfo.arrTime}`;
    }

    let isCorrectRoom = false;

    const userList = document.getElementById('users');

    function setUsers(users) {
        userList.innerHTML = '';
        users.forEach(user => {
            let li = document.createElement('li');
            li.innerHTML = `<span style="color: ${user.color}">${user.username}</span>`;
            userList.appendChild(li);
        });
    }
    socket.on('dispatchJoinRoom', function(roomId, username, color, roomIds, roomInfo, users) {
        if (roomInfo !== null && users !== null) {
            setHeader(roomInfo);

            if (roomId === currentRoomId) {
                setUsers(users);

                addMessage(`<strong>${username}</strong> joined the room.`, color);
            }

            for (let i = 0; i < roomIds.length; i++) {
                if (roomIds[i] === currentRoomId) {
                    isCorrectRoom = true;
                }
            }
        }
        if (!isCorrectRoom) {
            window.location.href = '/';
        }
    });

    socket.on('updateUsers', function(roomId, users) {
        if (roomId === currentRoomId) {
            setUsers(users);
        }
    });

    function ping() {
        socket.emit('ping', currentRoomId, username);
        console.log('ping');
    }
    setInterval(ping, 5000);
</script>
<script>
    // OSM MAP

    // TO CHANGE WITH USER HEX AND USER FIRST LETTER
    let users = [
        {
            hex: 'FF0000',
            firstLetter: 'a',
            localisation: {
                lat: 48.8869,
                lng: 2.2006
            },
            restoId: 2
        },
        {
            hex: '00FF00',
            firstLetter: 'c',
            localisation: {
                lat: 48.8783,
                lng: 2.2346
            }
        }
    ]

    navigator.geolocation.getCurrentPosition(function (position) {
        user.localisation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        }
    });

    let restaurants = [
        {
            localisation: {
                lat: 48.9008,
                lng: 2.2116
            }
        },
        {
            localisation: {
                lat: 48.9044,
                lng: 2.2425
            }
        }
    ]

    // MAP
    let map = L.map('map').setView([48.89, 2.22], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // LOOP TO CREATE USER MARKERS
    let UserIcon = L.Icon.extend({
        options: {
            iconSize: [40, 40],
            iconAnchor: [20, 29]
        }
    });

    for (let i = 0; i < users.length; i++) {
        let user = users[i];
        let userHex = user.hex;
        let userLetter = user.firstLetter;
        let userLoc = user.localisation;

        let userIcon = new UserIcon({
            iconUrl: `https://img.icons8.com/material/24/${userHex}/circled-${userLetter}.png`
        })

        L.marker(userLoc, { icon: userIcon }).addTo(map);
    }

    // LOOP TO CREATE RESTAURANT MARKERS
    let RestoIcon = L.Icon.extend({
        options: {
            iconSize: [40, 40],
            iconAnchor: [20, 29]
        }
    });
    let restoIcon = new UserIcon({
        iconUrl: 'https://img.icons8.com/fluency/48/null/restaurant-.png'
    })

    for (let i = 0; i < restaurants.length; i++) {
        L.marker(restaurants[i], { icon: restoIcon }).addTo(map);
    }

    // DESTINATION POINT

    // Destination icon
    let DestIcon = L.Icon.extend({
        options: {
            iconSize: [40, 40],
            iconAnchor: [20, 29]
        }
    });
    let destIcon = new DestIcon({
        iconUrl: 'https://img.icons8.com/ios-glyphs/30/FF0000/place-marker.png'
    })

    // Destination marker
    let dest = L.marker([0, 0], { opacity: 0, icon: destIcon, draggable: 'true' }).addTo(map);
    let destPlaced = false;

    // When click to set destination
    map.on('click', onMapClick);
    // When destination is moved
    dest.on('dragend', onDestMove);

    function onMapClick(e) {
        if (destPlaced === false) {
            let destPosition = e.latlng;
            dest.setLatLng(destPosition);
            dest.setOpacity(1)
            destPlaced = true;

            console.log(destPosition);
            // Recalculate distance
        }
        else {
            console.log("Marker already placed")
        }
    }

    function onDestMove(e) {
        let destPosition = e.target.getLatLng();

        console.log(destPosition);
        // Recalculate distance
    }

    // END DESTINATION POINT
</script>

</html>
